{{>navbar}}
{{>notifications}}

<form
	class="text-center p-5 form-layout"
	action="{{#if editMode}}#/handleEdit{{else}}#/handleShare{{/if}}"
	method="POST"
	id="share-receipt-form"
>
	{{#if editMode}}
	<p class="h4 mb-4">Edit Recipe</p>
	{{else}}
	<p class="h4 mb-4">Share Recipe</p>
	{{/if}}

	<input
		type="text"
		id="defaultRecepieShareMeal"
		name="meal"
		class="form-control mb-4"
		placeholder="Meal"
		value = "{{meal}}"
	/>

	<input
		type="text"
		id="defaultRecepieShareIngredients"
		name="ingredients"
		class="form-control mb-4"
		placeholder="Ingredients"
		value = "{{ingredients}}"
	/>

	<textarea
		type="text"
		id="defaultRecepieShareMethodOfPreparation"
		name="prepMethod"
		class="form-control mb-4"
		placeholder="Method of preparation"

	>{{prepMethod}}</textarea>

	<textarea
		type="text"
		id="defaultRecepieShareDescription"
		name="description"
		class="form-control mb-4"
		placeholder="Description"
		
	>{{description}}</textarea>

	<input
		type="text"
		id="defaultRecepieShareFoodImageURL"
		name="foodImageURL"
		class="form-control mb-4"
		placeholder="Food Image URL..."
		value = "{{foodImageURL}}"
	/>

	<select name="category" value = "{{category}}">

		<option selected>Select category...</option>

		<option selected>Vegetables and legumes/beans</option>

		<option selected>Fruits</option>

		<option selected>Grain Food</option>

		<option selected>Milk, cheese, eggs and alternatives</option>

		<option selected>Lean meats and poultry, fish and alternatives</option>
		
	</select>

	{{#if editMode}}
	<button class="btn btn-danger w-25 m-auto my-4 btn-block" type="submit">Edit it</button>
	{{else}}
	<button class="btn btn-danger w-25 m-auto my-4 btn-block" type="submit">Share it</button>
	{{/if}}

	{{#if editMode}}
	<input type= "hidden" name= "id" value="{{id}}">
	{{/if}}

</form>

{{>footer}}